html {
  /* background: #4c4c4c; */
  background: black;
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 600px;
  margin: 0;
  padding: 0;
}

.left-corner {
  width: 230px;
  height: 200px;

  /* border: 2px dashed red; */
  /* margin-left: 1200px; */
  margin-top: -59px;

  position: absolute;
  right: 0;
}

#container {
  width: 300px;
  height: 200px;

  margin-top: -170px;
  margin-left: -90px;
  position: absolute;
  z-index: -1;
}

.room {
  font-weight: bold;
  font-size: 18px;

  padding-bottom: 2px;
  border-bottom: 1px solid white;
  width: 130px;
  /* margin-top: -10px; */
}
.room-line {
  position: absolute;
  margin-top: -13px;
}
.temp-con {
  margin-left: 150px;
  margin-top: 120px;
}
.temp {
  font-weight: 300;
  font-size: 15px;
  /* 
  text-align: center; */
  padding-bottom: 2px;
  border-bottom: 1px solid white;
  width: 50px;
}

.date-con {
  /* position: absolute; */
  margin-left: 20px;
  margin-top: -10px;
  font-weight: 500;
}

#date {
  font-size: 15px;
  margin-bottom: -10px;
}
#time {
  font-size: 18px;
}

#location-con {
  position: absolute;
  /* margin-left: 80%;
  margin-top: 630px; */
  bottom: 25px;
  right: 25px;
}
.location {
  font-weight: 400;
  font-size: 18px;
}
#feed-con {
  position: absolute;
  bottom: 25px;

  left: 0;
}

#feed-title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 3px;
  border-bottom: 1px solid white;

  margin-left: 35px;

  width: 167px;
}

table {
  text-align: left;
  margin-left: 30px;
  margin-top: 0px;
}
th {
  font-weight: 600;
  padding: 3px;
  font-size: 15px;
}

td {
  font-size: 12px;
  float: right;
}
